.emptyCartContainer {

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
	margin-top: 2rem;

	.text {

		
		color: rgb(78, 78, 78);
		padding: 1rem;
    	border: 2px solid rgb(231, 231, 231);
    	background-color: white;
		border-radius: 10px;
	}
}

.bottom {

	width: 100%;
	border-top: 2px solid var(--ion-color-primary);
	background-color: white;
	position: fixed;
	bottom: 0rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}